# Indigo Glass — kdeglobals snippets
# Merge these into ~/.config/kdeglobals
# Set your color scheme + widget style + icon theme

[General]
ColorScheme=IndigoGlass
font=Carlito,10,-1,5,400,0,0,0,0,0,0,0,0,0,0,1
fixed=Iosevka Custom Condensed,11,-1,5,400,0,0,0,0,0,0,0,0,0,0,1
menuFont=SF Pro Display,10,-1,5,400,0,0,0,0,0,0,0,0,0,0,1
smallestReadableFont=SF Pro Display,8,-1,5,400,0,0,0,0,0,0,0,0,0,0,1
toolBarFont=SF Pro Display,9,-1,5,400,0,0,0,0,0,0,0,0,0,0,1

[KDE]
LookAndFeelPackage=org.kde.breezedark.desktop
widgetStyle=Klassy

[Icons]
Theme=Tela-circle-purple-dark

[Appmenu Style]
Style=Widget
